{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:index{% endblock %}
{% block head %}
    <script>
        function reFresh() {
            location.reload(true)
        }
        window.setInterval("reFresh()",5000);
    </script>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <p>Bienvenue {{ app.user.username }}</p>
        <h3> Liste des parties en attente d'un joueur</h3>
            <a href="{{ path('app_game_add') }}" >
            <button class="btn waves-effect waves_light  light-blue darken-1">
                Créer une nouvelle partie <i class="material-icons right">add</i>
            </button>
        </a>



       <ul class="collection">
        {% for game in games %}
        {% if game.state == 0 %}


    <li class="collection-item avatar">
        <span class="name">
            <h5><i class="material-icons circler">people</i> {{ game.name }}</h5>
        </span>

        <blockquote> Créee par :
            {%  for user in creator %}
                {%  if user.id == game.creator %}
                    {{ user.username }}
            {%  endif %}
            {%  endfor %}
        </blockquote>

        <a href="  {{ path('app_game_rejoindre', {id: game.id}) }}" >
            <button class="btn waves-effect waves_light green"><i class="material-icons right">gamepad</i>
                Rejoindre
            </button>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>

    {% else %}
        <h3>Créez vous un compte pour pouvoir jouer au jeu de dames</h3>
        {% endif %}

{% endblock %}
