{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:play{% endblock %}
{% block head %}
    <script>
    function reFresh() {
    location.reload(true)
    }
    window.setInterval("reFresh()",5000);
    </script>
{% endblock %}
{% block body %}
    <style type="text/css">
        #white {
            background-color: white;
            height: 60px;
            width: 60px;
        }

        #brown {
            background-color: #763709;
            height: 60px;
            width: 60px;
        }

        #tablo {
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #000000;
            width: 20cm;
            overflow: hidden;
            table-layout: fixed;

        }

        #tablo tr {
            border: 1px solid #000000;
            height: 2cm;
            width: 2cm;

        }

        #tablo td {
            border: 1px solid #000000;
            text-align: center;
            word-wrap: break-word;
        }

    </style>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("pion", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("pion");
            ev.target.appendChild(document.getElementById(data));
            var url = '{{ path('app_game_move') }}';
            var end_point = ev.target.id;
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="start_position" value="' + data + '"/>' +
                '<input type="text" name="end_position" value="' + end_point + '"/>' +
                '<input type="text" id="id" name="id" value="' + {{ game.id }} +'"/>' +
                '</form>');
            $('body').append(form);
            form.submit();
        }

    </script>

    {% if is_granted('ROLE_USER') %}
        {% if game.state == 0 %}
            <h4> En attente d'un joueur pour la partie : {{ game.name }}</h4>
            <blockquote> Créee par : {{ creator }}</blockquote>

            <a href="{{ path('app_game_remove', {id: game.id}) }}">
                <button class="btn waves-effect waves_light  red darken-1">
                    Annuler <i class="material-icons right">clear</i>
                </button>
            </a>
        {% else %}
            {% if  app.user.id == game.opponant %}
            {% if game.current_player == 6 %}
                <h3>C'est à votre tour de jouer </h3>

            {% else%}
                <h3>C'est le tour de votre adversaire </h3>
                {% endif %}
                {% endif %}
            {% if app.user.id == game.creator  %}
                {% if game.current_player == 5 %}

                <h3>C'est à votre tour de jouer </h3>
                    {% else %}
                    <h3>C'est le tour de votre adversaire</h3>
            {% endif %}
                {% endif %}
            <table id="tablo">
                {% set x = 0 %}
                {% set y = 0 %}
                {% set id = 0 %}
                {% for lines in plateau %}
                    <tr>
                        {% for case in  lines %}
                            {% if case == 2 %}
                                {% if app.user.id == game.opponant and game.current_player == 6 %}
                                    <td id="c{{ id }}y{{ y }}x{{ x }}" class="brown"><img id="p{{ id }}y{{ y }}x{{ x }}"
                                                                                          src="https://image.ibb.co/g8APay/cercle_plein.png"
                                                                                          draggable="true"
                                                                                          ondragstart="drag(event)"
                                                                                          height="40px" width="40px">
                                    </td>
                                {% else %}
                                    <td id="c{{ id }}y{{ y }}x{{ x }}" class="brown"><img id="p{{ id }}y{{ y }}x{{ x }}"
                                                                                          src="https://image.ibb.co/g8APay/cercle_plein.png"
                                                                                          height="40px" width="40px">
                                    </td>

                                {% endif %}
                            {% elseif case == 1 %}
                                {% if app.user.id == game.creator and game.current_player == 5 %}
                                    <td id="c{{ id }}y{{ y }}x{{ x }}" class="brown"><img id="p{{ id }}y{{ y }}x{{ x }}"
                                                                                          src="https://image.ibb.co/dcuT2d/round.png"
                                                                                          draggable="true"
                                                                                          ondragstart="drag(event)"
                                                                                          height="40px" width="40px">
                                    </td>
                                {% else %}
                                    <td id="c{{ id }}y{{ y }}x{{ x }}" class="brown"><img id="p{{ id }}y{{ y }}x{{ x }}"
                                                                                          src="https://image.ibb.co/dcuT2d/round.png"

                                                                                          height="40px" width="40px">
                                    </td>
                                {% endif %}
                            {% elseif case == 0 %}
                                <td id="c{{ id }}y{{ y }}x{{ x }}" class="brown" ondrop="drop(event)"
                                    ondragover="allowDrop(event)"></td>
                            {% else %}
                                <td id="c{{ id }}y{{ y }}x{{ x }}" class="white"></td>
                            {% endif %}
                            {% set id = id+1 %}
                            {% set x=x+1 %}
                        {% endfor %}
                        {% set x = 0 %}
                        {% set y = y+1 %}
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ path('app_game_abandon', {id: game.id}) }}">
                <button class="btn waves-effect waves_light red darken-1"><i class="material-icons right">clear</i>
                    Abandonner
                </button>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}